.filters>*{
    font-family: 'Nunito';
    font-size: 13px;
    opacity: 0.6;
}
.filters{
    display: flex;
    align-items: center;
}
.items{
    flex-grow: 3.5;
    font-weight: lighter;
    text-align: center;
}
.options{
    padding: 0 10px;
    flex-grow: 3;
    display: flex;
    justify-content: center;
}
.clear{
    flex-grow: 1;
}