.todo{
    background:white;
    height: 3.5em;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.circle{
    border-radius: 10px;
    width: 0.75em;
    height: 0.75em;
    border:1px solid #CDCDCD;
    margin:3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin-right:10px;
    border:none;
    width: 70%;
    font-family:'Nunito' ;
    font-size: 1em;
}
.todo>button{
    border:none;
    position: relative;
    justify-self: flex-end;
    right:1%;
    background-color: inherit;
    font-size: 1.2em;
    padding-left: 10px;
    width:1.2em;
    height: 1.2em;
    color:#D66DA9;
    cursor: pointer;
    border-radius: 50%;
}
img{
    width: 100%;
    height: 100%;
}